@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 1%, rgba(148,187,233,1) 98%); 
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}

.header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

button{
    padding: 10px;
    font-size: 17px;
    background-color: rgb(193, 213, 236);
    border: 2px solid white;
    border-radius: 10px;
    margin: 15px;
    width: 200px;
}

button:hover{
    border: 2px solid black;
}

form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register, .attendance, .create-test, .assign-test, .assign-result, .assign-subject, .assign-student{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 17px;
}

form input{
    border: none;
    border-radius: 5px;
    background-color: #e6e5e5;
    font-size: 20px;
    height: 30px;
    margin-left: 10px;
}

.register-form{
    height: 300px;
}

.mark-att-form{
    height: 350px;
}

.create-test-form{
    height: 320px;
}

.assign-test-form{
    height: 250px;
}

.assign-result-form{
    height: 300px;
}

.assign-subject-form{
    height: 300px;
}

.assign-student-form{
    height: 300px;
}